.home_container {
  max-width: 100%;
  height: 100vh;
  background-color: #e1eacd;
  margin: auto;
  padding: 0rem 2rem;
}

.home_container > div {
  max-width: 50%;
  margin: auto;
  padding: 3rem;
}

.labels {
  display: block;
  margin-bottom: 0.2rem;
}

.inputs {
  display: block;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #a9bfa8;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  font-size: medium;
}
.links {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid #a9bfa8;
  border-radius: 0.3rem;
  outline: none;
  width: 25%;
  font-size: medium;
  background-color: #a9bfa8;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #122033;
  font-weight: bold;
  text-transform: capitalize;
}
.buttons {
  display: block;
  margin-top: 1rem;
  padding: 0.8rem;
  border: 1px solid #a9bfa8;
  border-radius: 0.3rem;
  outline: none;
  width: 30%;
  font-size: medium;
  background-color: #a9bfa8;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.buttonsGroup {
  display: flex;
  gap: 1rem;
}

.loading {
  background-color: red;
  padding: 2rem;
}
.errors {
  color: red;
}
.success {
  color: green;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .home_container > div {
    max-width: 90%; /* Use most of the screen width */
    padding: 2rem; /* Reduce padding for smaller screens */
  }

  .buttons {
    width: 60%; /* Make buttons full-width */
  }

  .inputs {
    font-size: smaller; /* Adjust font size for better fit */
  }
}

@media screen and (max-width: 480px) {
  .home_container > div {
    padding: 1rem; /* Reduce padding even further for smaller screens */
  }

  .inputs {
    font-size: small; /* Further reduce font size */
  }

  .buttons {
    font-size: small; /* Reduce button text size */
  }
}
